<div style="display: flex; align-items: center; width: 100%; justify-content: flex-end; padding: 0 36px 16px 0;">
  <p-button label="Add Challenge" icon="pi pi-plus" (click)="handleFixedButtonClick()"></p-button>
</div>
<div fxLayout="row wrap" fxLayoutGap="16px grid" class="main-div">
  <div fxFlex="100" fxFlex.gt-sm="33" class="p-2 card" *ngFor="let challenge of challenges">
    <p-panel [toggleable]="false">
      <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
          <i class="pi pi-bullseye text-2xl"></i>
          <span class="font-bold" style="font-size: x-large">
                {{challenge.description}}
            </span>
          <p-chip label="Front-End" />
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="category-footer">
          <span class="p-text-secondary" style="align-self: center">
            20 points
          </span>
          <span *ngIf="challenge.solved" class="p-tag p-tag-success" style="align-self: center">
            Solved
          </span>
          <p-button [disabled]="challenge.solved"  label="Open" icon="pi pi-arrow-right" iconPos="right" class="p-button-outlined" (click)="openChallange(challenge.id)"></p-button>
        </div>
      </ng-template>
    </p-panel>
  </div>
</div>
