.main-div {
  display: flex;
  padding: 0 32px 0 32px;
  width: 100%;
}

.category-footer {
  display: flex;
  justify-content: space-between;
}

::ng-deep .p-dialog .p-dialog-content {
  /* Add your styles here. For example: */
  background-color: transparent;
}

.fixed-button {
  position: fixed;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  right: 20px; /* Adjust the distance from the right as needed */
  z-index: 999; /* Ensure the button appears above other content */
}
