<div class="main-div">
  <div style="display: flex;">
    <p-card header="Login to the Learning Platform">
      <div class="card-body">
        <p-floatLabel>
          <input pInputText id="username" [(ngModel)]="email" />
          <label for="username">Username</label>
        </p-floatLabel>

        <p-floatLabel>
          <p-password [(ngModel)]="password" [feedback]="false" />
          <label>Password</label>
        </p-floatLabel>
      </div>
      <ng-template pTemplate="footer">
        <div  style="display: flex; flex-direction: row; gap: 16px;">
          <p-button label="Login" severity="primary" class="w-full" styleClass="w-full" (click)="loginHandler()"/>
          <p-button label="Continue as Guest" severity="secondary" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
  </div>
  <div style="display:flex; flex-flow: row; flex-grow: 0.5">
    <span style="flex: 1 1 auto;"></span>
  </div>
</div>
